<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603671930515-gbsiuphmebv48nfiulp52s6vimn4qvsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603671930515-gbsiuphmebv48nfiulp52s6vimn4qvsm</string>
	<key>API_KEY</key>
	<string>AIzaSyDkhVZljq2FOJUNg6BNfQ28DsePkw6ZoZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>603671930515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chata-dc9ed</string>
	<key>STORAGE_BUCKET</key>
	<string>chata-dc9ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603671930515:ios:72880457d74123b134cf66</string>
	<key>DATABASE_URL</key>
	<string>https://chata-dc9ed-default-rtdb.firebaseio.com</string>
</dict>
</plist>